# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Quantum Simulation Cookbook
author: Jue Xu
copyright                   : "2024"  # Copyright year to be placed in the footer
# logo: 512.png
logo: logo.png
# Patterns to skip when building the book. Can be glob-style (e.g. "*skip.ipynb")
exclude_patterns            : [_build, Thumbs.db, .DS_Store, "**.ipynb_checkpoints"]
# Auto-exclude files not in the toc
only_build_toc_files        : true

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/content/execute.html
execute:
  # execute_notebooks: force
  execute_notebooks: 'cache'

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - ref.bib
# bibtex_reference_style: author_year

# Information about where the book exists on the web
repository:
  url: https://github.com/Jue-Xu/cookbook-quantum-simulation  # Online location of your book
  # url: https://github.com/executablebooks/jupyter-book  # Online location of your book
  path_to_book: docs  # Optional path to your book, relative to the repository root
  branch: master  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true

sphinx:
  extra_extensions:
    - sphinx_proof
  config:
    bibtex_reference_style: author_year
  mathjax_config:
      tex:
        macros:
          "realnumber": "\\mathbb{R}"
          "floor": ["\\lfloor#1\\rfloor", 1]